/*
 * LESS-Modul: Inhalt.
 * Definiert allgemeine Stile für den Inhalt.
 * @author Jakob Metzger <jakob.me@gmail.com>
 * @copyright 2015 Jakob Metzger
 */

// Inhalt
#content {
    -webkit-backface-visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: @height-titlebar 0;
    background: @color-background;
    .transition(opacity);
    .translate(0);
    .borderbox();
    
    // Variante: Versteckt
    &.hidden { opacity: @opacity-invisible; }
    
    // Inhalt Innen
    #content-inner {
        -webkit-backface-visibility: hidden;
        position: relative;
        height: 100%;
        line-height: 1.4;
        color: @color-text-dark;
        font-size: @font-medium;
        .borderbox();
    }
    
    // Innenabstand
    .content-padding {
        padding: @size-margin;
        .transition();
        
        // Variante: Zentriert
        &.center { text-align: center; }
        
        // Variante Vertikal Klein
        &.small-vertical {
            padding-top: @size-margin-half;
            padding-bottom: @size-margin-half;
        }
        
        // Variante: Unten
        &.bottom {
            position: absolute;
            left: 0;
            bottom: 0;
            margin: 0;
            width: 100%;
            padding-top: 0;
            .borderbox();
        }
        
        // Variante: Versteckt
        &.hidden {
            overflow: hidden;
            opacity: 0;
            height: 0;
        }
    }
    
    // Absätze
    p {
        padding: 0;
        margin: 0 0 @size-margin 0;
        
        // Letzter Absatz
        &:last-child { margin-bottom: 0; }
        
        // Titel-Absatz
        &.title {
            font-size: @font-large;
            
            // Hervorgehoben
            b {
                font-weight: bold;
                border-bottom: @size-line-medium solid darken(@color-background, 10%);
            }
            
            // Kursiv
            def {
                font-style: italic;
                color: @color-text-pale;
            }
        }
        
        // Info-Absatz
        &.info {
            font-style: italic;
            font-size: @font-big;
            color: @color-text-pale;
            
            // Variante: Klein
            &.small { font-size: @font-small; }
            
            // Variante: Wichtig
            &.important { color: @color-text-dark; }
            
            // Hervorgehoben
            b { font-weight: bold; }
        }
    }
    
    // Quiz-Titel
    .quiz-title {
        display: block;
        text-align: center;
        font-weight: normal;
        font-style: italic;
        position: relative;
        text-decoration: none;
        margin: 0;
        line-height: 1.4;
        padding: 0 @size-margin;
        color: @color-text-dark;
        font-size: @font-large;
        background: @color-white;
        
        // Variante: Abgeschlossen
        &.finished, &.standalone {
            padding-bottom: @size-margin;
            .shadow-line(@size-line-thin, darken(@color-background, @darken-border));
            .gradient-background();
        }
        
        // Variante: Alleinstehend
        &.standalone {
            padding-top: @size-margin;
            
            // Variante: Klein
            &.small {
                font-size: @font-big;
                padding-top: @size-margin-half;
                padding-bottom: @size-margin-half;
            }
        }
        
        // Variante: Erstes Element
        &:first-child { padding-top: @size-margin; }
        
        // Variante: Wörterbuch-Wort
        &.dictionary-word {
            text-align: left;
            font-weight: bold;
            position: relative;
            padding-top: 0;
            padding-bottom: 0;
            font-size: @font-big;
            padding-right: @height-button-choice;
            height: @height-button-choice;
            line-height: @height-button-choice;
            border-bottom: @size-line-thin solid darken(@color-background, @darken-border-background);
            .shadow-none();
            .ellipsis();
            
            // Wort-Stufe
            .word-level {
                display: inline-block;
                font-weight: normal;
                vertical-align: middle;
                font-size: @font-small;
                margin-bottom: @size-line-bold;
                margin-right: @size-margin-half;
                .quiz-level-status();
                
                // Stufe
                .level {
                    display: inline;
                    letter-spacing: 0;
                }
            }
            
            // Icon
            &:after {
                width: auto;
                display: block;
                text-align: center;
                position: absolute;
                font-style: normal;
                font-weight: normal;
                top: 0;
                right: 0;
                height: @height-button-choice;
                line-height: @height-button-choice + @size-line-bold;
                padding: 0 @size-margin;
                color: @color-text-pale;
                font-size: @font-medium;
                content: @fa-var-chevron-right;
                .transition(color);
                .font-icon();
            }
            
            // Erstes Wort
            &:first-child {
                border-top: @size-line-thin solid darken(@color-background, @darken-border);
            }
        }
    
        // Hervorhebung
        b { border-bottom: @size-line-medium solid darken(@color-background, @darken-border); }
        
        // Icon
        .fa { margin-left: @size-padding; }
    }
    
    // Quiz-Bild
    .quiz-image {
        background: @color-white;
        
        // Bild
        img {
            display: block;
            margin: 0 auto;
            height: @size-quiz-image;
        }
        
        // Variante: Groß
        &.big img { height: @size-quiz-image-big; }
    }
    
    // Quiz-Info
    .quiz-info {
        overflow: visible;
        text-align: center;
        position: relative;
        height: @height-bar-info;
        font-size: @font-small;
        color: @color-text-pale;
        background: @color-white;
        padding: 0 @size-margin;
        border-bottom: @size-line-thin solid darken(@color-background, @darken-border);
        .gradient-background();
        
        // Schwierigkeit
        .quiz-info-difficulty {
            display: block;
            font-weight: bold;
            position: absolute;
            font-style: italic;
            top: 0;
            padding: 0 @size-padding-tripple;
            left: @size-margin;
            height: @height-bar-info;
            line-height: @height-bar-info;
        }
        
        // Audio
        .quiz-info-audio { display: none; }
        
        // Vorlesen
        .quiz-info-audio-play {
            display: block;
            cursor: pointer;
            position: absolute;
            top: 0;
            padding: 0 @size-padding-tripple;
            right: @size-margin;
            height: @height-bar-info;
            color: @color-text-pale;
            font-size: @font-medium;
            line-height: @height-bar-info;
            .transition();
            
            // Variante: Aktiv
            &.current:not(.loading) {
                color: @color-main;
                .textshadow-glow(@color-main);
            }
            
            // Laden-Icon
            &:before {
                display: block;
                position: absolute;
                background-repeat: no-repeat;
                background-position: center center;
                top: 0;
                content: "";
                background-image: url("../img/layout/spinner-small.gif");
                opacity: @opacity-invisible;
                width: @height-bar-info;
                height: @height-bar-info;
                left: -(@size-margin + @size-margin-half);
                background-size: @size-margin @size-margin;
                .transition(opacity);
            }
            
            // Variante: Laden
            &.loading:before { opacity: @opacity-full; }
            
            // Hover
            &:not(.current) {
                &:hover, &:active {
                    color: @color-text-dark;
                }
            }
        }
        
        // Stufen
        .quiz-info-level {
            display: inline-block;
            height: @height-bar-info;
            line-height: @height-bar-info;
            .quiz-level-status();
            
            // Stufe (Stern)
            .level {
                margin-left: @size-padding;
                &:first-child { margin-left: 0; }
            }
        }
    }
}

// Responsive
@media screen and (min-width: @width-iphone) {
    
    // Inhalt
    #content { position: absolute; }
}