/*
 * LESS-Modul: Inhalt.
 * Definiert allgemeine Stile für den Inhalt.
 * @author Jakob Metzger <jakob.me@gmail.com>
 * @copyright 2015 Jakob Metzger
 */

// Inhalt
#content {
    -webkit-backface-visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: @height-titlebar 0;
    background: @color-background;
    .transition(opacity);
    .translate(0);
    .borderbox();
    
    // Variante: Versteckt
    &.hidden { opacity: @opacity-invisible; }
    
    // Inhalt Innen
    #content-inner, #error {
        -webkit-backface-visibility: hidden;
        position: relative;
        overflow: hidden;
        height: 100%;
        line-height: 1.4;
        color: @color-text-dark;
        font-size: @font-medium;
        .borderbox();
    }
    
    // Fehler-Container
    #error {
        
        // Variante: Versteckt
        &.hidden { display: none; }
        
        // Fehler
        & > .error {
            overflow: hidden;
            position: relative;
            top: 50%;
            padding: 0 @size-margin;
            .translate(0, -50%);
        }
    }
    
    // Innenabstand
    .content-padding {
        padding: @size-margin;
        .transition();
        
        // Variante: Zentriert
        &.center { text-align: center; }
        
        // Variante: Unten
        &.bottom {
            position: absolute;
            left: 0;
            bottom: 0;
            margin: 0;
            width: 100%;
            padding-top: 0;
            .borderbox();
        }
    }
    
    // Absätze
    p {
        padding: 0;
        margin: 0 0 @size-margin 0;
        
        // Letzter Absatz
        &:last-child { margin-bottom: 0; }
        
        // Titel-Absatz
        &.title {
            font-size: @font-large;
            
            // Hervorgehoben
            b {
                font-weight: bold;
                border-bottom: @size-line-medium solid darken(@color-background, @darken-border);
            }
            
            // Kursiv
            def {
                font-style: italic;
                color: @color-text-pale;
            }
            
            // Icon
            .fa {
                font-size: @font-big;
                margin-right: @size-padding;
                vertical-align: @size-line-thin;
            }
        }
        
        // Variante: Info
        &.info:not(.word) {
            font-style: italic;
            color: @color-text-pale;
        }
        
        // Variante: Wort
        &.word {
            margin: 0;
            padding: 0 @size-margin;
            
            // Letzter Absatz
            &:last-child { padding-bottom: @size-margin; }
            
            // Variante: Übersetzung
            &.translation {
                font-weight: bold;
                text-align: center;
                line-height: 1.2;
                font-size: @font-large;
            }
            
            // Variante: Beschreibung
            &.description {
                text-align: justify;
                font-size: @font-small;
                .hyphens();
                
                // Variante: Abstand Unten
                &.margin-bottom { margin-bottom: @size-margin; }
                &.info { text-align: center; color: @color-text-pale; }
                &.error { text-align: center; font-weight: bold; }
            }
        }
    }
    
    // Untertitel
    .subtitle {
        display: block;
        overflow: hidden;
        font-weight: bold;
        text-align: center;
        position: relative;
        font-style: italic;
        margin: @size-margin-half @size-margin;
        margin-top: @size-margin-double;
        line-height: @size-margin;
        height: @size-margin;
        font-size: @font-small;
        color: @color-text-pale;
        
        // Varianten
        &:first-child, &:first-of-type { margin-top: @size-margin; }
        &.uniform { margin: @size-margin-half @size-margin; }
        
        // Linien
        &:after, &:before {
            display: block;
            position: absolute;
            width: 50%;
            z-index: 50;
            content: "";
            top: @size-margin-half;
            height: @size-line-thin;
            opacity: @opacity-half;
        }
        
        // Linien Positionen
        &:after { right: 0; .gradient-horizontal(@color-text-pale, @color-background, 75%, 100%); }
        &:before { left: 0; .gradient-horizontal(@color-background, @color-text-pale, 0%, 25%); }
        
        // Text
        .text {
            display: inline-block;
            position: relative;
            z-index: 100;
            padding: 0 @size-padding;
            background: @color-background;
            .shadow(0, 0, @size-margin, @size-margin, @color-background);
            
            // Icon
            .fa { margin-right: @size-padding-half; }
        }
    }
    
    // Quiz-Titel
    .quiz-title {
        display: block;
        text-align: center;
        font-weight: normal;
        font-style: italic;
        position: relative;
        text-decoration: none;
        margin: 0;
        line-height: 1.4;
        padding: 0 @size-margin;
        color: @color-text-dark;
        font-size: @font-large;
        background: @color-white;
        
        // Variante: Abgeschlossen
        &.finished, &.standalone {
            padding-bottom: @size-margin;
            .shadow-line(@size-line-thin, darken(@color-background, @darken-border));
            .gradient-background();
        }
        
        // Variante: Alleinstehend
        &.standalone {
            padding-top: @size-margin;
            &:first-child { border-top: @size-line-thin solid darken(@color-background, @darken-border); }
        }
        
        // Variante: Erstes Element
        &:first-child { padding-top: @size-margin; }
    
        // Hervorhebung
        b { border-bottom: @size-line-medium solid darken(@color-background, @darken-border); }
        
        // Icon
        .fa { margin-left: @size-padding; }
    }
    
    // Quiz-Bild
    .quiz-image {
        background: @color-white;
        
        // Bild
        img {
            display: block;
            margin: 0 auto;
            height: @size-quiz-image;
        }
        
        // Variante: Groß
        &.big img { height: @size-quiz-image-big; }
    }
    
    // Quiz-Info
    .quiz-info {
        overflow: visible;
        text-align: center;
        position: relative;
        height: @height-bar-info;
        font-size: @font-small;
        color: @color-text-pale;
        background: @color-white;
        border-bottom: @size-line-thin solid darken(@color-background, @darken-border);
        .gradient-background();
        
        // Schwierigkeit
        .quiz-info-difficulty {
            display: block;
            font-weight: bold;
            position: absolute;
            font-style: italic;
            top: 0;
            left: 0;
            padding: 0 @size-margin;
            height: @height-bar-info;
            line-height: @height-bar-info;
        }
        
        // Audio
        .quiz-info-audio { display: none; }
        
        // Vorlesen
        .quiz-info-audio-play {
            display: block;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 @size-margin;
            height: @height-bar-info;
            color: @color-text-pale;
            font-size: @font-medium;
            line-height: @height-bar-info;
            .transition();
            
            // Variante: Aktiv
            &.current:not(.loading) {
                color: @color-main;
                .textshadow-glow(@color-main);
            }
            
            // Laden-Icon
            &:before {
                display: block;
                position: absolute;
                background-repeat: no-repeat;
                background-position: center center;
                top: 0;
                content: "";
                background-image: url("../img/layout/spinner-small.gif");
                width: @size-margin;
                opacity: @opacity-invisible;
                height: @height-bar-info;
                left: -(@size-margin-half);
                background-size: @size-margin @size-margin;
                .transition(opacity);
            }
            
            // Variante: Laden
            &.loading:before { opacity: @opacity-full; }
            
            // Hover
            &:not(.current) {
                &:hover, &:active {
                    color: @color-text-dark;
                }
            }
        }
        
        // Stufen
        .quiz-info-level {
            display: inline-block;
            height: @height-bar-info;
            line-height: @height-bar-info;
            .quiz-level-status();
            
            // Stufe (Stern)
            .level {
                margin-left: @size-padding;
                &:first-child { margin-left: 0; }
            }
        }
    }
}

// Responsive
@media screen and (min-width: @width-iphone) {
    
    // Inhalt
    #content { position: absolute; }
}