/*
 * LESS-Modul: Wörter.
 * Definiert Stile für das Wörterbuch.
 * @author Jakob Metzger <jakob.me@gmail.com>
 * @copyright 2015 Jakob Metzger
 */

// Wörterbuch-Sortierung
#dictionary-sort {
    display: block;
    position: absolute;
    list-style-type: none;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 500;
    width: (100% / @number-dictionary);
    border-bottom: @size-line-thin solid fade(@color-black, 25%);
    .transition();
    .shadow-big();
    
    // Variante: Versteckt
    &.hidden {
        opacity: @opacity-invisible;
        .translate(0, -100%);
    }
    
    // Optionen
    .sort {
        display: block;
        cursor: pointer;
        font-weight: bold;
        position: relative;
        padding: @size-margin;
        font-size: @font-small;
        background: @color-white;
        height: @size-margin;
        line-height: @size-margin;
        padding-right: (@size-margin-double + @size-margin);
        border-bottom: @size-line-thin solid darken(@color-background, @darken-border);
        
        // Schriftfarbe
        &, .fa {
            color: @color-text-pale;
            .transition(color);
        }
        
        // Letzte Option
        &:last-child { border-bottom: none; }
        
        // Icons
        .fa {
            font-weight: normal;
            margin-right: @size-margin-half;
        }
        
        // Aktiv-Icon
        &:after {
            display: none;
            position: absolute;
            text-align: center;
            top: 0;
            right: 0;
            color: @color-main;
            width: @size-margin;
            height: @size-margin;
            padding: @size-margin;
            content: @fa-var-check;
            line-height: @size-margin;
            .font-icon();
        }
    }
    
    // Aktive Option
    &.sort-alpha-asc .sort-alpha-asc,
    &.sort-alpha-desc .sort-alpha-desc,
    &.sort-level-asc .sort-level-asc,
    &.sort-level-desc .sort-level-desc {
        background: lighten(@color-background, @darken-main);
        &, .fa { color: @color-text-dark; }
        &:after { display: block; }
    }
}

// Wörterbuch-Slider
#dictionary-slider {
    overflow: hidden;
    position: absolute;
    -webkit-backface-visibility: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: (100% * @number-dictionary);
    .loop-slider-translate(@number-dictionary);
    .transition();

    // Slides
    .dictionary-slide {
        position: absolute;
        -webkit-backface-visibility: hidden;
        top: 0;
        left: 0;
        height: 100%;
        width: (100% / @number-dictionary);
        opacity: @opacity-invisible;
        .loop-slide-position(@number-dictionary);
        .transition();
        .translate(0);
        .borderbox();
        
        // Variante: Scrollbar
        &.scroll {
            -webkit-overflow-scrolling: touch;
            overflow-x: hidden;
            overflow-y: auto;
        }
        
        // Variante: Aktuell
        &.current { opacity: @opacity-full; }
    }
}

// Wörterbuch-Wörter
.dictionary-words {
    border-bottom: @size-line-thin solid darken(@color-background, @darken-border-background);
}