/*
 * LESS-Modul: Wörter.
 * Definiert Stile für das Wörterbuch.
 * @author Jakob Metzger <jakob.me@gmail.com>
 * @copyright 2015 Jakob Metzger
 */

// Wörterbuch-Sortierung
#dictionary-sort {
    display: block;
    position: absolute;
    list-style-type: none;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 500;
    width: (100% / @number-dictionary);
    border-bottom: @size-line-thin solid fade(@color-black, 25%);
    .transition();
    .shadow-big();
    
    // Variante: Versteckt
    &.hidden {
        opacity: @opacity-invisible;
        .translate(0, -100%);
    }
    
    // Optionen
    .sort {
        display: block;
        cursor: pointer;
        font-weight: bold;
        position: relative;
        padding: @size-margin;
        font-size: @font-small;
        background: @color-white;
        height: @size-margin;
        line-height: @size-margin;
        padding-right: (@size-margin-double + @size-margin);
        border-bottom: @size-line-thin solid darken(@color-background, @darken-border);
        
        // Schriftfarbe
        &, .fa {
            color: @color-text-pale;
            .transition(color);
        }
        
        // Letzte Option
        &:last-child { border-bottom: none; }
        
        // Icons
        .fa {
            font-weight: normal;
            margin-right: @size-margin-half;
        }
        
        // Aktiv-Icon
        &:after {
            display: none;
            position: absolute;
            text-align: center;
            top: 0;
            right: 0;
            color: @color-main;
            width: @size-margin;
            height: @size-margin;
            padding: @size-margin;
            content: @fa-var-check;
            line-height: @size-margin;
            .font-icon();
        }
    }
    
    // Aktive Option
    &.sort-alpha-asc .sort-alpha-asc,
    &.sort-alpha-desc .sort-alpha-desc,
    &.sort-level-asc .sort-level-asc,
    &.sort-level-desc .sort-level-desc {
        background: lighten(@color-background, @darken-main);
        &, .fa { color: @color-text-dark; }
        &:after { display: block; }
    }
}

// Wörterbuch-Slider
#dictionary-slider {
    overflow: hidden;
    position: absolute;
    -webkit-backface-visibility: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: (100% * @number-dictionary);
    .loop-slider-translate(@number-dictionary);
    .transition();

    // Slides
    .dictionary-slide {
        position: absolute;
        -webkit-backface-visibility: hidden;
        top: 0;
        left: 0;
        height: 100%;
        width: (100% / @number-dictionary);
        opacity: @opacity-invisible;
        .loop-slide-position(@number-dictionary);
        .transition();
        .translate(0);
        .borderbox();
        
        // Variante: Scrollbar
        &.scroll {
            -webkit-overflow-scrolling: touch;
            overflow-x: hidden;
            overflow-y: auto;
        }
        
        // Variante: Aktuell
        &.current { opacity: @opacity-full; }
    }
}

// Wörterbuch-Inhalt
#content-dictionary, #help {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    max-height: 100%;
}

// Wort-Container
#word > *:first-child {
    border-top: @size-line-thin solid darken(@color-background, @darken-border);
}

// Wörterbuch-Wörter
.dictionary-words {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: @size-line-thin solid darken(@color-background, @darken-border-background);
    
    // Fehler ein-/ausblenden
    &:not(.error) + .error { display: none; }
    
    // Wörterbuch-Wort
    .dictionary-word {        
        display: block;
        text-align: left;
        font-weight: bold;
        font-style: normal;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        margin: 0;
        padding: 0 @size-margin;
        color: @color-text-dark;
        font-size: @font-medium;
        padding-right: @height-button-choice;
        height: @height-button-choice;
        line-height: @height-button-choice;
        border-top: @size-line-thin solid darken(@color-background, @darken-border);
        .gradient-background();
        .shadow-none();
        .ellipsis();
        
        // Text-Hervorhebung
        .word b {
            color: darken(@color-star, @darken-star);
            background: fade(@color-star, 50%);
            .round-all();
        }
        
        // Wort-Stufe
        .word-level {
            display: inline-block;
            font-weight: normal;
            vertical-align: middle;
            font-size: @font-small;
            margin-bottom: @size-line-bold;
            margin-right: @size-margin-half;
            .quiz-level-status();
            
            // Stufe
            .level {
                display: inline;
                letter-spacing: 0;
            }
        }
        
        // Icon
        &:after {
            width: auto;
            display: block;
            text-align: center;
            position: absolute;
            font-style: normal;
            font-weight: normal;
            top: 0;
            right: 0;
            height: @height-button-choice;
            line-height: @height-button-choice + @size-line-bold;
            padding: 0 @size-margin;
            color: @color-text-pale;
            font-size: @font-medium;
            content: @fa-var-chevron-right;
            .transition(color);
            .font-icon();
        }
        
        // Variante: Versteckt
        &.hidden { display: none; }
    }
}