/*
 * LESS-Modul: Main.
 * Haupt-Style-Datei; definiert grundlegende Stile.
 * @author Jakob Metzger <jakob.me@gmail.com>
 * @copyright 2015 Jakob Metzger
 */

// HTML
html { -webkit-text-size-adjust: 100%; }

// Body
body {
    -webkit-font-smoothing: subpixel-antialiased;
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: @color-white;
    .font-main();
    
    // Variante: Webapp
    &.webapp {
        
        // Statusbar zeigen
        #bar-top #bar-status { display: block; }
        
        // Innenabstand Content
        #content { padding-top: (@height-statusbar + @height-titlebar); }
    }
}

// Viewport
#viewport #viewport-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: @color-background;
    
    // Spinner
    #spinner {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -(@height-spinner / 2);
        margin-top: -(@height-spinner / 2);
    }
}

// Responsive
@media screen and (min-width: @width-responsive) {
    
    // Body
    body {
        overflow: auto;
        position: static;
        
        // Webapp Besonderheiten
        &, &.webapp {
            
            // Statusbar zeigen
            #bar-top #bar-status { display: block; }
            
            // Innenabstand Content
            #content { padding-top: (@height-statusbar + @height-titlebar); }
        }
    }
    
    // Viewport
    #viewport {
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0 auto;
        background-image: url("../img/iphone.png");
        width: @width-mobile;
        height: @height-mobile;
        margin-top: @height-titlebar;
        padding: @size-gap-mobile-top @size-gap-mobile-sides;
        padding-bottom: @size-gap-mobile-bottom;
        background-size: @width-iphone @height-iphone;
        
        // Viewport Innen
        #viewport-inner {
            position: relative;
            width: @width-mobile;
            height: @height-mobile;
        }
    }
}

// Responsive Retina
@media screen and (min-width: @width-responsive)
              and (-webkit-min-device-pixel-ratio: 1.5),
       screen and (min-width: @width-responsive)
              and (min-resolution: 144dpi) {
    
    // Hintergrundbilder
    #viewport { background-image: url("../img/iphone-retina.png"); }
}