/*
 * LESS-Modul: Mixins.
 * Definiert globale LESS-Mixins.
 * @author Jakob Metzger <jakob.me@gmail.com>
 * @copyright 2015 Jakob Metzger
 */
 
// Haupt-Font
.font-main() { font-family: "Lato", sans-serif; }

// Border-Box
.borderbox() {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}