/*
 * LESS-Modul: Mixins.
 * Definiert globale LESS-Mixins.
 * @author Jakob Metzger <jakob.me@gmail.com>
 * @copyright 2015 Jakob Metzger
 */
 
// Haupt-Font
.font-main() { font-family: "Lato", sans-serif; }
.font-icon() { font-family: "FontAwesome", sans-serif; }

// Transition
.transition(@type: all, @time: @time-transition, @delay: @time-delay) {
    -webkit-transition: @type @time ease @delay;
       -moz-transition: @type @time ease @delay;
        -ms-transition: @type @time ease @delay;
         -o-transition: @type @time ease @delay;
            transition: @type @time ease @delay;
}

// Translate
.translate(@x, @y: 0, @z: 0) {
    -webkit-transform: translate3d(@x, @y, @z);
       -moz-transform: translate3d(@x, @y, @z);
        -ms-transform: translate3d(@x, @y, @z);
         -o-transform: translate3d(@x, @y, @z);
            transform: translate3d(@x, @y, @z);
}

// Border-Box
.borderbox() {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

// Textschatten
.textshadow(@color: @color-black, @fade: 10%) {
    text-shadow: 0 @size-line-medium 0 fade(@color, @fade);
}

// Schatten
.shadow(@x, @y, @blur, @spread, @color) {
    -webkit-box-shadow: @x @y @blur @spread @color;
       -moz-box-shadow: @x @y @blur @spread @color;
        -ms-box-shadow: @x @y @blur @spread @color;
         -o-box-shadow: @x @y @blur @spread @color;
            box-shadow: @x @y @blur @spread @color;
}

// Schatten: Linie
.shadow-line(@y, @color) {
    .shadow(0, @y, 0, 0, @color);
}

// Abgerundete Ecken
.round(@tl, @tr, @br, @bl) {
    -webkit-border-radius: @tl @tr @br @bl;
       -moz-border-radius: @tl @tr @br @bl;
        -ms-border-radius: @tl @tr @br @bl;
         -o-border-radius: @tl @tr @br @bl;
            border-radius: @tl @tr @br @bl;
}

// Abgerundete Ecken: Überall
.round-all(@radius: @size-radius) {
    .round(@radius, @radius, @radius, @radius);
}