/*
 * LESS-Modul: Navigation.
 * Definiert Stile für die Titel- und die Tab-Leiste.
 * @author Jakob Metzger <jakob.me@gmail.com>
 * @copyright 2015 Jakob Metzger
 */

// Top-Leiste
#bar-top {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    background: @color-main;
    color: @color-white;
    font-size: @font-titlebar-text;
    .shadow-line(@size-line-thin, darken(@color-main, 10%));
    .textshadow();
    
    // Statusbar
    #bar-status {
        display: none;
        height: @height-statusbar;
    }
    
    // Titlebar
    #bar-title {
        position: relative;
        height: @height-titlebar;
        
        // Titel-Text
        #bar-title-text {
            font-weight: bold;
            display: inline-block;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
            height: @height-titlebar;
            line-height: @height-titlebar;
            font-size: @font-titlebar-text;
        }
        
        // Buttons
        #bar-title-left, #bar-title-right {
            display: block;
            position: absolute;
            text-decoration: none;
            text-transform: uppercase;
            top: 0;
            padding: 0 @size-margin;
            font-size: @font-titlebar-icon;
            color: @color-white;
            height: @height-titlebar;
            line-height: (@height-titlebar - @size-line-medium);
            .transition(opacity);
            .borderbox();
            
            // Variante: Gesperrt
            &.locked {
                width: 0;
                opacity: 0;
                padding: 0;
            }
            
            // Icons
            i {
                font-size: @font-big;
                vertical-align: middle;
            }
            
            // Text
            .bar-title-button {
                font-weight: bold;
                vertical-align: middle;
                padding: 0;
                font-size: @font-small;
                line-height: @height-titlebar;
            }
        }
        
        // Icon Positionen
        #bar-title-left { text-align: left; left: 0; }
        #bar-title-right { text-align: right; right: 0; }
    }
}

// Tabs-Leiste
#bar-tabs {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: @height-titlebar;
    background: @color-white;
    .shadow-line(-(@size-line-thin), darken(@color-background, 10%));
    .gradient-vertical(@color-white, lighten(@color-background, 2%));
    .transition();
    
    // Tab-Icons
    .bar-tabs-tab {
        float: left;
        display: block;
        position: relative;
        text-align: center;
        text-decoration: none;
        width: 20%;
        color: @color-text-pale;
        font-size: @font-titlebar-icon;
        height: @height-titlebar;
        line-height: @height-titlebar;
        .transition();
        
        // Aktiv
        &.current { color: @color-main; }

        // Ohne Icon
        .no-icon {
            font-weight: bold;
            font-style: normal;
        }
    }
    
    // Aktiv-Indikator
    #bar-tabs-indicator {
        display: block;
        position: absolute;
        content: "";
        top: -(@size-line-thin);
        width: @width-tabs-indicator;
        height: @size-line-bold;
        background: @color-main;
        border-top: @size-line-thin solid darken(@color-main, 5%);
        .loop-tabs-indicator();
        .transition();
        .borderbox();
    }
}

// Responsive
@media screen and (min-width: @width-iphone) {
        
    // Leisten
    #bar-top, #bar-tabs { position: absolute; }
    
    // Statusbar
    #bar-top #bar-status {
        background-image: url("../img/layout/statusbar.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: @width-mobile @height-statusbar;
    }
}

// Responsive Retina
@media screen and (min-width: @width-iphone)
              and (-webkit-min-device-pixel-ratio: 1.5),
       screen and (min-width: @width-iphone)
              and (min-resolution: 144dpi) {
    
    // Hintergrundbilder
    #bar-top #bar-status {
        background-image: url("../img/layout/statusbar-retina.png");
    }
}