/*
 * LESS-Modul: Navigation.
 * Definiert Stile für die Titel- und die Tab-Leiste.
 * @author Jakob Metzger <jakob.me@gmail.com>
 * @copyright 2015 Jakob Metzger
 */

// Top-Leiste
#bar-top {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    background: @color-titlebar;
    color: @color-text-on-titlebar;
    font-size: @font-titlebar-text;
    
    // Statusbar
    #bar-status {
        display: none;
        height: @height-statusbar;
    }
    
    // Titlebar
    #bar-title {
        position: relative;
        height: @height-titlebar;
        
        // Titel-Text
        #bar-title-text {
            font-weight: bold;
            display: inline-block;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
            height: @height-titlebar;
            line-height: @height-titlebar;
            font-size: @font-titlebar-text;
        }
        
        // Buttons
        #bar-title-left, #bar-title-right {
            display: block;
            position: absolute;
            text-decoration: none;
            text-transform: uppercase;
            top: 0;
            padding: 0 @size-margin;
            font-size: @font-titlebar-icon;
            color: @color-text-on-titlebar;
            height: @height-titlebar;
            line-height: @height-titlebar;
            .borderbox();
            
            // Icons
            i {
                font-size: @font-big;
                vertical-align: middle;
            }
            
            // Text
            .bar-title-button {
                vertical-align: middle;
                padding: 0 @size-padding;
                font-size: @font-small;
                line-height: @height-titlebar;
            }
        }
        
        // Icon Positionen
        #bar-title-left { text-align: left; left: 0; }
        #bar-title-right { text-align: right; right: 0; }
    }
}

// Tabs-Leiste
#bar-tabs {
    position: fixed;
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    height: @height-titlebar;
    background: @color-tabbar;
    
    // Tab-Icons
    .bar-tabs-tab {
        float: left;
        display: block;
        position: relative;
        text-align: center;
        text-decoration: none;
        width: 20%;
        color: @color-text-pale;
        font-size: @font-titlebar-icon;
        height: @height-titlebar;
        line-height: @height-titlebar;
        .transition();
        
        // Aktiv
        &.current { color: @color-titlebar; }

        // Ohne Icon
        .no-icon {
            font-weight: bold;
            font-style: normal;
        }
    }
    
    // Aktiv-Indikator
    #bar-tabs-indicator {
        display: block;
        position: absolute;
        top: 0;
        width: 14%;
        content: "";
        height: @size-line-medium;
        background: @color-titlebar;
        .transition();
        
        // Positionen
        &.tab-1 { left: 3%; }
        &.tab-2 { left: 23%; }
        &.tab-3 { left: 43%; }
        &.tab-4 { left: 63%; }
        &.tab-5 { left: 83%; }
    }
}

// Responsive
@media screen and (min-width: @width-responsive) {
        
    // Leisten
    #bar-top, #bar-tabs { position: absolute; }
    
    // Statusbar
    #bar-top #bar-status {
        background-image: url("../img/statusbar.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: @width-mobile @height-statusbar;
    }
}

// Responsive Retina
@media screen and (min-width: @width-responsive)
              and (-webkit-min-device-pixel-ratio: 1.5),
       screen and (min-width: @width-responsive)
              and (min-resolution: 144dpi) {
    
    // Hintergrundbilder
    #bar-top #bar-status {
        background-image: url("../img/statusbar-retina.png");
    }
}