/*
 * LESS-Modul: Quiz.
 * Definiert Stile für das Quiz.
 * @author Jakob Metzger <jakob.me@gmail.com>
 * @copyright 2015 Jakob Metzger
 */

// Quiz-Fortschritt
#quiz-progress {
    background: @color-white;
    padding: @size-margin;
    .shadow-line(@size-line-thin, darken(@color-background, 10%));
    .transition();
    
    // Quiz-Fortschritt Innen
    #quiz-progress-inner {
        position: relative;
        height: @height-quiz-progress;
        
        // Fortschrittsleiste
        #quiz-progress-bar {
            position: absolute;
            left: 0;
            width: 100%;
            z-index: 10;
            top: ((@height-quiz-progress - @size-line-medium) / 2);
            background: @color-text-pale;
            height: @size-line-medium;
            .round-all(@size-line-medium / 2);
        }
        
        // Schritt-Container
        #quiz-progress-steps {
            position: absolute;
            list-style-type: none;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            z-index: 20;
            width: 100%;
            height: 100%;
            font-size: 0;
            
            // Schritte
            .quiz-progress-step {
                float: left;
                display: block;
                position: relative;
                text-align: center;
                width: 8%;
                padding: 0;
                margin: 0 1%;
                height: @height-quiz-progress;
                line-height: @height-quiz-progress;
                
                // Kreis
                &:after {
                    display: block;
                    content: "";
                    margin: (@height-quiz-progress / 4) auto;
                    background: @color-white;
                    border: @size-line-medium solid @color-text-pale;
                    width: (@height-quiz-progress / 2);
                    height: (@height-quiz-progress / 2);
                    .round-all(@height-quiz-progress / 4);
                    .transition();
                    .borderbox();
                }
                
                // Gelöste und aktuelle Schritte
                &.solved:after, &.current:after {
                    margin: 0 auto;
                    font-size: @font-small;
                    width: @height-quiz-progress;
                    height: @height-quiz-progress;
                    line-height: (@height-quiz-progress - (2 * @size-line-medium));
                    .round-all(@height-quiz-progress / 2);
                    .font-icon();
                }
                
                // Erfolg
                &.success:after {
                    content: @fa-var-check;
                    color: @color-success;
                    .animation(step-success);
                }
                
                // Fehler
                &.error:after {
                    content: @fa-var-close;
                    color: @color-error;
                    .animation(step-error);
                }
            }
        }
    }
}

// Quiz-Slider
#quiz-slider {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: (@number-slides * 100%);
    .loop-slider-translate();
    .transition();
    
    // Slides
    .quiz-slide {
        position: absolute;
        -webkit-backface-visibility: hidden;
        top: 0;
        left: 0;
        height: 100%;
        width: (100% / @number-slides);
        padding-top: (@size-margin-double + @height-quiz-progress);
        .loop-slide-position();
        .translate(0);
        .borderbox();
    }
}

// Quiz-Titel
.quiz-title {
    text-align: center;
    font-weight: normal;
    font-style: italic;
    position: relative;
    margin: 0;
    line-height: 1.4;
    padding: 0 @size-margin-double;
    color: @color-text-dark;
    font-size: @font-large;
    background: @color-white;
    
    // Variante: Abgeschlossen
    &.finished, &.standalone {
        padding-bottom: @size-margin;
        .gradient-vertical(@color-white, lighten(@color-background, 2%));
        .shadow-line(@size-line-thin, darken(@color-background, 10%));
    }
    
    // Variante: Alleinstehend
    &.standalone { padding-top: @size-margin; }

    // Hervorhebung
    b { border-bottom: @size-line-medium solid darken(@color-background, 10%); }
    
    // Icon
    .fa { margin-left: @size-padding; }
}

// Quiz-Bild
.quiz-image {
    background: @color-white;
    
    // Bild
    img {
        display: block;
        margin: 0 auto;
        height: @size-quiz-image;
    }
    
    // Variante: Groß
    &.big img { height: @size-quiz-image-big; }
}

// Quiz-Info
.quiz-info {
    overflow: visible;
    text-align: center;
    position: relative;
    height: @height-bar-info;
    font-size: @font-small;
    color: @color-text-pale;
    background: @color-white;
    padding: 0 @size-margin;
    border-bottom: @size-line-thin solid darken(@color-background, 10%);
    .gradient-vertical(@color-white, lighten(@color-background, 2%));
    
    // Schwierigkeit
    .quiz-info-difficulty {
        display: block;
        font-weight: bold;
        position: absolute;
        font-style: italic;
        top: 0;
        padding: 0 @size-padding-tripple;
        left: @size-margin;
        height: @height-bar-info;
        line-height: @height-bar-info;
    }
    
    // Audio
    .quiz-info-audio { display: none; }
    
    // Vorlesen
    .quiz-info-audio-play {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 0;
        padding: 0 @size-padding-tripple;
        right: @size-margin;
        height: @height-bar-info;
        color: @color-text-pale;
        font-size: @font-medium;
        line-height: @height-bar-info;
        .transition();
        
        // Aktiv
        &.current {
            color: @color-main;
            .textshadow-glow(@color-main);
        }
    }
    
    // Stufen
    .quiz-info-level {
        display: inline-block;
        height: @height-bar-info;
        line-height: @height-bar-info;
        
        // Stufe (Stern)
        .level {
            font-style: normal;
            display: inline-block;
            margin-left: @size-padding;
            .transition();
            
            // Erstes Element
            &:first-child { margin-left: 0; }
            
            // Icon
            &:after {
                color: @color-star;
                .transition();
                .font-icon();
            }
        }
        
        // Mixin: Stufe erreicht
        .quiz-level-achieved() {
            content: @fa-var-star;
            color: @color-star;
            .animation(quiz-level-up);
        }
        
        // Mixin: Stufe nicht erreicht
        .quiz-level-not-achieved() {
            content: @fa-var-star-o;
            color: @color-text-pale;
        }
        
        // Stufe 0
        &.level-0 {
            .level-1, .level-2, .level-3 {
                &:after { .quiz-level-not-achieved(); }
            }
        }
        
        // Stufe 1
        &.level-1 {
            .level-1           { &:after { .quiz-level-achieved();     } }
            .level-2, .level-3 { &:after { .quiz-level-not-achieved(); } }
        }
        
        // Stufe 2
        &.level-2 {
            .level-1, .level-2 { &:after { .quiz-level-achieved();     } }
            .level-3           { &:after { .quiz-level-not-achieved(); } }
        }
        
        // Stufe 3
        &.level-3 {
            .level-1, .level-2, .level-3 {
                &:after { .quiz-level-achieved(); }
            }
        }
    }
}

// Quiz-Ergebnis
#quiz-result {
    overflow: hidden;
    position: relative;
    padding: @size-padding-double 0;
    height: @height-titlebar;
    background: @color-white;
    border: @size-line-thin solid darken(@color-background, 10%);
    border-left: none;
    border-right: none;
    .gradient-vertical(lighten(@color-background, 2%), @color-white);
    .borderbox();
    
    // Innerer Container
    #quiz-result-inner {
        position: relative;
        height: 100%;
        width: 100%;
    }
    
    // Eregebnis-Leiste
    #result-bar {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        border: @size-line-thin solid darken(@color-success, 10%);
        border-bottom-color: darken(@color-success, 14%);
        border-left: none;
        .gradient-vertical(@color-success, darken(@color-success, 4%));
        .shadow-result();
        .round-right();
        .borderbox();

        // Variante
        &.hidden { opacity: 0; }
        &.full { border-right: none; .round-all(0); }
    }
    
    // Ergebnis Linien
    #result-lines {
        width: 100%;
        height: 100%;
        
        // Linie
        .result-line {
            position: absolute;
            top: -50%;
            height: 200%;
            background: @color-background;
            width: @size-line-thin;
            margin-left: -(@size-line-thin);
            .gradient-vertical(lighten(@color-background, 2%), @color-background);
            .loop-result-line();
        }
    }
}

// Inhalt
#content {
    
    // Quiz Zeichen-Eingabe
    .quiz-input-characters {
        .loop-input-characters();
        
        // Buchstaben
        .input-character {
            float: left;
            display: block;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            font-size: @font-big;
            color: @color-text-dark;
            height: @height-button-small;
            line-height: @height-button-small;
            border-right: @size-line-thin solid darken(@color-background, 5%);
            .borderbox();
            
            // Letzter Buchstabe
            &:last-child { border-right: none; }
        }
        
        // Fehler & Erfolg
        &.error, &.success {
            
            // Buchstaben
            .input-character {
                height: @height-button-small - (@size-line-medium);
                line-height: @height-button-small - (@size-line-medium);
            }
        }
    }
    
    // Quiz Text-Eingabe
    .quiz-input-text {
        
        // Input
        .input-text {
            border: none;
            outline: none;
            display: block;
            font-weight: bold;
            text-align: center;
            background: transparent;
            -webkit-appearance: none;
            width: 100%;
            padding: @size-margin-half @size-margin;
            font-size: @font-big;
            color: @color-text-dark;
            height: @height-button-small;
            line-height: (@height-button-small - @size-margin);
            .round-all(@size-radius - @size-line-thin);
            .font-main();
            .borderbox();
            
            // Variante: Deaktiviert
            &:disabled, &[readonly] {
                cursor: not-allowed;
                color: @color-text-dark;
            }
        }
        
        // Submit-Button ausblenden
        .input-submit { display: none; }
        
        // Lösungs-Information
        & + .quiz-solution-reveal + .quiz-solution-info {
            .transition();
        }
        
        // Lösungs-Information verschoben
        &.error, &.success {
            & + .quiz-solution-reveal + .quiz-solution-info {
                opacity: 0;
                .translate(0, @height-button-small);
            }
        }
    }
    
    // Quiz Zeichen- und Text-Eingabe
    .quiz-input-characters, .quiz-input-text {
        overflow: hidden;
        text-align: center;
        position: relative;
        margin: 0 @size-margin;
        margin-top: @size-margin;
        border: @size-line-thin solid darken(@color-background, 10%);
        border-top-color: darken(@color-background, 12%);
        .gradient-vertical(lighten(@color-background, 2%), @color-white);
        .transition(border-color);
        .shadow-button();
        .round-all();
                
        // Richtige Lösung
        & + .quiz-solution-reveal {
            overflow: hidden;
            height: 0;
            opacity: 0;
            padding-top: 0;
            padding-bottom: 0;
            line-height: @height-button-small;
            .transition(opacity);
        }
        
        // Fehler & Erfolg
        &.error, &.success {
            
            // Richtige Lösung
            & + .quiz-solution-reveal {
                overflow: visible;
                opacity: 1;
                
                // Icon
                .quiz-solution-icon:before {
                    font-style: normal;
                    font-weight: normal;
                    .font-icon();
                }
            }
        }
        
        // Fehler
        &.error {
            border-color: @color-error;
            border-width: @size-line-medium;
            .animation(answer-wrong);
            
            // Icon
            & + .quiz-solution-reveal .quiz-solution-icon:before {
                content: @fa-var-close;
                color: @color-error;
            }
        }
        
        // Erfolg
        &.success {
            border-color: @color-success;
            border-width: @size-line-medium;
            .animation(answer-right);
            
            // Icon
            & + .quiz-solution-reveal .quiz-solution-icon:before {
                content: @fa-var-check;
                color: @color-success;
            }
        }
    }
    
    // Quiz Input-Auswahl
    .quiz-input-choices {
        text-align: center;
        font-size: 0;
        padding: @size-margin (@size-margin - @size-padding-half);
        padding-bottom: (@size-margin - @size-padding-half);
        .transition();
        
        // Variante: Gesperrt
        &.locked {
            opacity: 0.3;
            .translate(0, @height-button-small);
            
            // Cursor ändern
            .button { cursor: not-allowed !important; }
        }
    }

    // Quiz-Antworten mit Bildern
    .quiz-choices.images {
        padding: (@size-margin - @size-padding-half);
    }
    
    // Buttons
    .button {
        display: block;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        margin-bottom: @size-margin;
        color: @color-white;
        font-size: @font-big;
        padding: @size-padding-tripple @size-margin;
        .shadow-button();
        .round-all();
        
        // Icons
        .fa { margin-right: @size-padding; }
        
        // Variante: Action
        &.action {
            background: @color-main;
            color: @color-white;
            border: @size-line-thin solid darken(@color-main, 10%);
            border-bottom-color: darken(@color-main, 14%);
            .gradient-vertical(@color-main, darken(@color-main, 4%));
            .shadow-button-strong();
            .textshadow();
        }
        
        // Variante: Quiz-Auswahl
        &.choice:not(.image), &.choice.image .button-image {
            position: relative;
            background: @color-white;
            color: @color-text-dark;
            border: 0 solid @color-white;
            padding: 0 @height-button-choice;
            height: @height-button-choice;
            line-height: (@height-button-choice - @size-line-medium);
            border: @size-line-thin solid darken(@color-background, 10%);
            border-bottom-color: darken(@color-background, 12%);
            margin-bottom: @size-padding;
            .gradient-vertical(@color-white, lighten(@color-background, 2%));
            .transition(border-color);
            .shadow-button();
            .round-all();
            .borderbox();
            .ellipsis();
            
            // Letzter Button
            &:last-of-type { margin-bottom: 0; }
            
            // Icon
            &:before {
                display: block;
                position: absolute;
                text-align: center;
                font-weight: normal;
                top: 0;
                left: 0;
                opacity: 0;
                content: "";
                height: @height-button-choice;
                width: @height-button-choice;
                line-height: (@height-button-choice - @size-line-medium);
                .transition();
                .font-icon();
            }
            
            // Variante: Klein
            &.small {
                font-size: @font-medium;
                padding: 0 @height-button-small;
                height: @height-button-small;
                line-height: (@height-button-small - @size-line-medium);
                
                // Icon
                &:before {
                    height: @height-button-small;
                    width: @height-button-small;
                    line-height: (@height-button-small - @size-line-medium);
                }
            }
        }
        
        // Variante: Quiz-Auswahl (Erfolg & Fehler)
        &.choice {
            
            // Erfolg & Fehler
            &:not(.image).success, &:not(.image).error,
            &.image.success .button-image, &.image.error .button-image {
                border-width: @size-line-medium;
                line-height: (@height-button-choice - (2 * @size-line-medium));
                
                // Variante: Klein
                &.small {
                    line-height: (@height-button-small - (2 * @size-line-medium));
                }
            }
            
            // Erfolg
            &:not(.image).success, &.image.success .button-image {
                border-color: @color-success;
                .animation(answer-right);
                
                // Icon
                &:before {
                    opacity: 1;
                    content: @fa-var-check;
                    color: @color-success;
                }
            }
            
            // Fehler
            &:not(.image).error, &.image.error .button-image {
                border-color: @color-error;
                .animation(answer-wrong);
                
                // Icon
                &:before {
                    opacity: 1;
                    content: @fa-var-close;
                    color: @color-error;
                }
            }
        }
        
        // Variante: Quiz-Auswahl Bild
        &.choice.image {
            float: left;
            border: none;
            height: auto;
            display: block;
            overflow: visible;
            background: transparent;
            margin: 0;
            width: 50%;
            padding: @size-padding-half;
            .shadow-none();
            .borderbox();
            
            // Bild-Button
            .button-image {
                height: auto;
                display: block;
                overflow: hidden;
                padding: 0;
                margin: 0;
                
                // Icon
                &:before {
                    top: auto;
                    bottom: 0;
                    left: 0;
                    width: @size-margin-double;
                    height: @size-margin-double;
                    line-height: @size-margin-double;
                    background: @color-white;
                    .shadow(0, 0, @size-padding, @size-padding, @color-white);
                    .round-all();
                    .borderbox();
                }
                
                // Bild
                img {
                    display: block;
                    max-width: 100%;
                    .round-all(@size-radius - @size-line-thin);
                }
            }
        }
        
        // Variante: Input-Auswahl
        &.input-choice, &.input-delete {
            display: inline-block;
            text-align: center;
            padding: 0;
            background: @color-white;
            color: @color-text-dark;
            border: 0 solid @color-white;
            height: @height-button-small;
            width: @height-button-small;
            font-size: @font-medium;
            line-height: (@height-button-small - @size-line-medium);
            border: @size-line-thin solid darken(@color-background, 10%);
            border-bottom-color: darken(@color-background, 12%);
            margin: 0 @size-padding-half;
            margin-bottom: @size-padding;
            .gradient-vertical(@color-white, lighten(@color-background, 2%));
            .transition();
            .shadow-button();
            .round-all();
            .borderbox();
            
            // Variante: Gesperrt
            &.locked { opacity: 0.3; }
        }
        
        // Variante: Input-Löschen
        &.input-delete {
            width: auto;
            text-transform: uppercase;
            padding: 0 @size-margin;
            font-size: @font-small;
        }
        
        // Variante: Rund
        &.round {
            text-transform: uppercase;
            margin: 0 auto;
            font-size: @font-medium;
            width: @size-button-round;
            height: @size-button-round;
            padding: (@size-margin * 2.5) 0;
            line-height: ((@size-button-round - (5 * @size-margin)) / 2);
            .round-all(50%);
            .borderbox();
            
            // Hervorgehoben
            b { font-size: @font-huge; }
            i { font-style: normal; font-weight: bold; }
        }
        
        // Variante: Nächstes Quiz
        &.quiz-next { margin: 0; }
        
        // Variante: Quiz lösen
        &.quiz-solve {
            position: absolute;
            left: @size-margin;
            right: @size-margin;
            .borderbox();
        }
        
        // Varianten: Quiz Lösen & Nächstes Quiz
        &.quiz-solve, &.quiz-next {
            font-weight: bold;
            text-transform: uppercase;
            .transition();
            
            // Icon & Versteckt
            .fa { margin: 0 0 0 @size-padding; }
            &.hidden { .translate(0, 150%, 0); }
        }
    }
    
    // Gesperrte Auswahl-Buttons
    .quiz-choices.locked {
        
        // Buttons ausgrauen
        .button.choice:not(.image), .button.choice.image .button-image {
            cursor: not-allowed;
            opacity: 0.3;
        }
        
        // Ausnahme: Fehler und Erfolg
        .button.choice {
            &:not(.image).success, &.image.success .button-image,
            &:not(.image).error, &.image.error .button-image {
                opacity: 1;
            }
        }
    }
}