/*
 * LESS-Modul: Variablen.
 * Definiert globale Variablen/Konstanten für
 * alle anderen Module (Farben, Größen etc.).
 * @author Jakob Metzger <jakob.me@gmail.com>
 * @copyright 2015 Jakob Metzger
 */
 
// Größen
@height-statusbar:          20px;
@height-titlebar:           44px;
@size-margin:               15px;

// Farben (Allgemein)
@color-background:          #ffffff;
@color-titlebar:            #5c6367;

// Farben (Text)
@color-text-light:          #ffffff;
@color-text-dark:           #2b2b2b;
@color-text-on-titlebar:    contrast(@color-titlebar, @color-text-dark, @color-text-light);

// Schriftgrößen
@font-small:                12px;
@font-medium:               16px;
@font-big:                  22px;
@font-titlebar:             18px;