/**
 * Fontello: Variables.
 * @author Daniel Bruce
 * @copyright 2012 Daniel Bruce
 * @licence http://scripts.sil.org/OFL SIL
 * @link http://www.entypo.com
 */

// Font-Properties
@fontello-font-name: "fontello";
@fontello-font-path: "../fonts/fontello";
@fontello-font-size-base: 14px;
@fontello-line-height-base: 1;
@fontello-prefix: icon;

// Icon-Codes
@fontello-icon-search: "\e800"; 
@fontello-icon-star: "\e801"; 
@fontello-icon-star-empty: "\e802"; 
@fontello-icon-check: "\e803"; 
@fontello-icon-cancel: "\e804"; 
@fontello-icon-help: "\e805"; 
@fontello-icon-info: "\e806"; 
@fontello-icon-start: "\e807"; 
@fontello-icon-alert: "\e808"; 
@fontello-icon-dictionary: "\e809"; 
@fontello-icon-backspace: "\e80a"; 
@fontello-icon-settings: "\e80b"; 
@fontello-icon-audio: "\e80c"; 
@fontello-icon-solve: "\e80d"; 
@fontello-icon-error: "\e80e"; 
@fontello-icon-back: "\e810"; 
@fontello-icon-forward: "\e811"; 
@fontello-icon-skip: "\e812"; 
@fontello-icon-sort: "\e813"; 
@fontello-icon-more: "\e814"; 
@fontello-icon-progress: "\e815"; 
@fontello-icon-quiz: "\e817"; 
@fontello-icon-asc: "\e81e"; 
@fontello-icon-desc: "\e81f"; 