/**
 * Fontello: Variables.
 * @author Daniel Bruce
 * @copyright 2012 Daniel Bruce
 * @licence http://scripts.sil.org/OFL SIL
 * @link http://www.entypo.com
 */

// Font-Properties
@fontello-font-name: "Fontello";
@fontello-font-path: "../fonts/fontello";
@fontello-font-size-base: 14px;
@fontello-line-height-base: 1;
@fontello-prefix: icon;

// Icon-Codes
@fontello-icon-help: "\e800";
@fontello-icon-info: "\e801";
@fontello-icon-start: "\e802";
@fontello-icon-alert: "\e803";
@fontello-icon-dictionary: "\e804";
@fontello-icon-settings: "\e805";
@fontello-icon-audio: "\e806";
@fontello-icon-solve: "\e807";
@fontello-icon-error: "\e808";
@fontello-icon-skip: "\e809";
@fontello-icon-more: "\e80a";
@fontello-icon-progress: "\e80b";
@fontello-icon-quiz: "\e80c";
@fontello-icon-backspace: "\e80d";
@fontello-icon-sort-alpha-asc: "\e80e";
@fontello-icon-sort-alpha-desc: "\e80f";
@fontello-icon-sort-numeric-asc: "\e810";
@fontello-icon-sort-numeric-desc: "\e811";
@fontello-icon-sort: "\e812";
@fontello-icon-smile: "\e813";
@fontello-icon-frown: "\e814";
@fontello-icon-meh: "\e815";
@fontello-icon-back: "\e816";
@fontello-icon-forward: "\e817";
@fontello-icon-star: "\e818";
@fontello-icon-star-empty: "\e819";
@fontello-icon-cancel: "\e81a";
@fontello-icon-check: "\e81b";
@fontello-icon-search: "\e81c";
@fontello-icon-clear: "\e81d";
@fontello-icon-translation: "\e81e";