/*
 * Modul: Variablen.
 * Definiert globale Variablen/Konstanten für
 * alle anderen Module (Farben, Größen etc.).
 * @author Jakob Metzger <jakob.me@global-gmail.com>
 * @copyright 2016 Jakob Metzger
 */

// Version
@global-version:                   "0.1";

// Pfade
@global-path-font:                  "../fonts/lato";
@global-path-layout:                "../img/layout";

// Größen (Allgemein)
@global-size-responsive:            520px;
@global-size-radius:                3px;
@global-size-padding:               4px;
@global-size-padding-half:          2px;
@global-size-padding-double:        8px;
@global-size-padding-tripple:       12px;
@global-size-margin:                16px;
@global-size-margin-half:           8px;
@global-size-margin-double:         32px;
@global-size-margin-tripple:        48px;
@global-size-line-thin:             1px;
@global-size-line-medium:           2px;
@global-size-line-bold:             3px;
@global-size-line-black:            4px;

// Zeiten
@global-time-animation-short:       0.05s;
@global-time-animation-half:        0.15s;
@global-time-animation:             0.3s;
@global-time-delay:                 0s;

// Prozentwerte Abdunkeln
@global-darken-background:          2%;
@global-darken-main:                4%;
@global-darken-success:             4%;
@global-darken-main-dark:           6%;
@global-darken-border:              10%;
@global-darken-star:                25%;
@global-darken-border-main:         14%;
@global-darken-border-background:   12%;

// Opazitäts-Werte
@global-opacity-full:               1.0;
@global-opacity-opaque:             0.7;
@global-opacity-half:               0.5;
@global-opacity-locked:             0.3;
@global-opacity-invisible:          0.0;

// Farben (Allgemein)
@global-color-white:                #ffffff;
@global-color-black:                #083641;
@global-color-background:           #e5eaeb;
@global-color-main:                 #3bbb77;
@global-color-success:              #3bbb77;
@global-color-error:                #d9426d;
@global-color-star:                 #e1d518;

// Farben (Text)
@global-color-text-light:           #ffffff;
@global-color-text-dark:            #4b4e4f;
@global-color-text-pale:            #9fa7a9;

// Schriften
@global-font-name:                  "Lato";
@global-font-size-tiny:             9px;
@global-font-size-progress:         12px;
@global-font-size-small:            13px;
@global-font-size-medium:           16px;
@global-font-size-big:              18px;
@global-font-size-large:            22px;
@global-font-size-huge:             28px;