/*
 * Modul: Badge.
 * Definiert das Verhalten von Badges.
 * @author Jakob Metzger <jakob.me@gmail.com>
 * @copyright 2016 Jakob Metzger
 * @licence https://opensource.org/licenses/MIT MIT
 * @link http://jmportfolio.de
 */

// Modul-Variablen
@_badge:                    badge;
@_badge-size-height:        20px;
@_badge-size-padding:       10px;
@_badge-font-size:          11px;
@_badge-font-size-icon:     9px;

// Block: Badge
.@{_badge} {
    font-weight: bold;
    text-align: center;
    display: inline-block;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    right: @app-size-margin;
    font-size: @_badge-font-size;
    padding: 0 @_badge-size-padding;
    background: @app-color-background;
    color: @app-color-text-dark;
    height: @_badge-size-height;
    line-height: @_badge-size-height;
    .round-all(@_badge-size-height / 2);
    .translate(0, -50%);
    .transition();
    
    // Mod: Filter
    &--filter {
        color: darken(@app-color-star, @app-darken-star);
        background: fade(@app-color-star, @app-fade-highlight-opaque);
        
        // Icon
        &:before {
            font-weight: 100;
            content: @fontello-icon-search;
            margin-right: @app-size-padding;
            vertical-align: @app-size-line-thin;
            font-size: @_badge-font-size-icon;
            .font-icon();
        }
    }
}