/*
 * Modul: Diagramm.
 * Definiert das Verhalten von Diagrammen.
 * @author Jakob Metzger <jakob.me@gmail.com>
 * @copyright 2016 Jakob Metzger
 * @licence https://opensource.org/licenses/MIT MIT
 * @link http://jmportfolio.de
 */

// Modul-Variablen
@_chart-size-label:                     24px;
@_chart-size-info:                      128px;
@_chart-size-step:                      16px;
@_chart-size-bar:                       18px;
@_chart-size-gap:                       6px;
@_chart-number-lastgames:               10;
@_chart-number-points:                  10;
@_chart-number-percent:                 10;

// Loop: Linien Vertikal
._chart-loop-lines-vertical(@n, @i: 1) when (@i <= @n) {
    &:nth-child(@{i}) { opacity: (@i / @n); }
    ._chart-loop-lines-vertical(@n, (@i + 1));
}

// Loop: Linien Horizontal
._chart-loop-lines-horizontal(@n, @i: 1) when (@i <= @n) {
    &:nth-child(@{i}) { left: ((@i / @n) * 100%); }
    ._chart-loop-lines-horizontal(@n, (@i + 1));
}

// Block: Diagramm
.chart {
    overflow: hidden;
    position: relative;
    .colored-gradient(@app-color-background-light);
    
    // Mod: Vertikal & Element: Container
    &--vertical, &--vertical &__container {
        padding-top: @app-size-gap;
        padding-bottom: (@app-size-gap-small + @_chart-size-label);
    }
    
    // Mod: Vertikal & Element: Container
    &--vertical &__container {
        position: absolute;
        padding-left: @app-size-gap;
        padding-right: @app-size-gap;
    }
    
    // Mod: Horizontal & Element: Container
    &--horizontal &__container {
        padding: (@app-size-gap - @_chart-size-gap) 0;
    }
    
    // Mod: Horizontal
    &--horizontal {
        padding-left: @app-size-gap;
        padding-right: @_chart-size-info;
    }
    
    // Element: Linie
    &__line {
        display: block;
        box-sizing: border-box;
    }
    
    // Mod: Vertikal & Element: Linie
    &--vertical &__line {
        width: 100%;
        height: @_chart-size-step;
        ._chart-loop-lines-vertical(@_chart-number-points);
        .border(top, @app-color-background);
        
        // Erstes Element
        &:first-child { border-top: none; }
    }
    
    // Mod: Horizontal & Element: Linien
    &--horizontal &__lines {
        position: absolute;
        height: 100%;
        left: @app-size-gap;
        right: @_chart-size-info;
    }
    
    // Mod: Horizontal & Element: Linie
    &--horizontal &__line {
        position: absolute;
        top: 0;
        height: 100%;
        width: @app-size-line-thin;
        margin-left: -(@app-size-line-thin);
        .gradient(top, @app-color-background, @app-color-background-light);
        ._chart-loop-lines-horizontal(@_chart-number-percent);
    }
    
    // Element: Container
    &__container {
        display: block;
        box-sizing: border-box;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    // Element: Daten
    &__data {
        display: block;
        position: relative;
    }
    
    // Mod: Vertikal & Element: Daten
    &--vertical &__data {
        float: left;
        height: 100%;
        width: (100% / @_chart-number-lastgames);
    }
    
    // Mod: Horizontal & Element: Daten
    &--horizontal &__data {
        width: 100%;
        padding: @_chart-size-gap 0;
    }
    
    // Element: Balken
    &__bar {
        display: block;
        box-sizing: border-box;
        max-width: 100%;
        .gradient(top, @app-color-main-light, @app-color-main);
        .border(all, @app-color-main-dark);
        .border(bottom, shade(@app-color-main-dark, 10%));
        .border-radius();
        .shadow-small();
    }
    
    // Mod: Vertikal & Element: Balken
    &--vertical &__bar {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: @_chart-size-bar;
        margin-left: -(@_chart-size-bar / 2);
    }
    
    // Mod: Horizontal & Element: Balken
    &--horizontal &__bar {
        height: @_chart-size-bar;
        border-color: @app-color-star-dark;
        border-bottom-color: shade(@app-color-star-dark, 10%);
        .gradient(top, @app-color-star-light, @app-color-star);
    }
    
    // Mod: Vertikal & Element: Daten & Mod: Ohne & Element: Balken
    &--vertical &__data--none &__bar {
        border: none;
        width: 100%;
        left: 0;
        margin: 0;
        text-align: center;
        background: transparent;
        height: auto !important;
        font-size: @app-font-size-small;
        color: @app-color-text-dark-pale;
        .fontello-icon(@fontello-icon-frown);
        .shadow-none();
    }
    
    // Element: Label
    &__label {
        display: block;
        position: absolute;
        font-weight: bold;
        font-size: @app-font-size-small;
    }
    
    // Mod: Vertikal & Element: Label
    &--vertical &__label {
        text-align: center;
        left: 0;
        width: 100%;
        height: @_chart-size-label;
        line-height: @_chart-size-label;
        bottom: -(@_chart-size-label);
    }
    
    // Mod: Horizontal & Element: Label
    &--horizontal &__label {
        height: 100%;
        top: 0;
        box-sizing: border-box;
        line-height: (@_chart-size-bar + (2 * @_chart-size-gap));
        padding: 0 @app-size-gap;
        width: @_chart-size-info;
        right: -(@_chart-size-info);
    }
    
    // Mod: Horizontal & Element: Text
    &--horizontal &__text {
        display: block;
        float: left;
        
        // Mod: Sterne
        &--stars { font-weight: normal; }
        
        // Mod: Prozenz
        &--percent {
            float: right;
            font-style: italic;
            text-align: right;
            font-size: @app-font-size-micro;
            color: @app-color-text-dark-pale;
            margin-top: @app-size-line-thin;
            width: @_chart-size-label;
        }
        
        // Mod: Wert
        &--value {
            float: right;
            text-align: right;
            min-width: @_chart-size-label;
            padding: 0 @app-size-gap-tiny;
        }
    }
    
    // Mod: Vertikal & Element: Daten & Mod: Ohne & Element: Label
    &--vertical &__data--none &__label { color: @app-color-text-dark-pale; }
}