/*
 * Modul: Quiz.
 * Definiert das Verhalten vom Quiz.
 * @author Jakob Metzger <jakob.me@gmail.com>
 * @copyright 2016 Jakob Metzger
 * @licence https://opensource.org/licenses/MIT MIT
 * @link http://jmportfolio.de
 */

// Modul-Variablen
@_quiz-size-button-round:               128px;
@_quiz-padding-button-round:            40px;
@_quiz-line-height-title:               20px;

// Block: Quiz
.quiz {
    display: block;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    padding-top: ((@app-size-gap * 2) + @app-size-height-progressbar);
    
    // Element: Titel
    &__title {
        display: block;
        font-weight: bold;
        position: relative;
        margin: 0;
        padding: @app-size-gap;
        font-size: @app-font-size-medium;
        margin-bottom: @app-size-gap-small;
        margin-top: -(@app-size-gap);
        line-height: @_quiz-line-height-title;
        .colored(@app-color-light, true);
        .border(bottom);
        
        // Sub-Elemente: Titel-Text und -Icon
        &-text { display: block; position: relative; }
        &-icon { margin-right: @app-size-gap-small; }
    }
    
    // Element: Button
    &__button {
        display: block;
        cursor: pointer;
        font-weight: bold;
        font-style: normal;
        position: relative;
        text-align: center;
        text-decoration: none;
        box-sizing: border-box;
        font-size: @app-font-size-big;
        .shadow-small(@app-color-shadow-light);
        .colored-gradient();
        .border-radius();
        .border(all);
        
        // Mod: Rund
        &--round {
            margin: @app-size-gap auto;
            font-size: @app-font-size-huge;
            width: @_quiz-size-button-round;
            height: @_quiz-size-button-round;
            padding: @_quiz-padding-button-round 0;
            line-height: ((@_quiz-size-button-round - (2 * (@_quiz-padding-button-round + @app-size-line-thin))) / 2);
            .border-radius(50%);
        }
        
        // Mod: Aktion
        &--action {
            text-transform: uppercase;
            border-color: @app-color-main-dark;
            .colored(@app-color-main);
            .gradient(bottom, @app-color-main-light, @app-color-main);
            .shadow-small(@app-color-shadow-dark);
            .textshadow();
        }
    }
    
    // Element: Button & Mod: Rund & Element: Button-Text
    &__button--round &__buttontext:last-child {
        font-size: @app-font-size-medium;
    }
}