/*
 * Modul: Liste.
 * Definiert das Verhalten einer Liste.
 * @author Jakob Metzger <jakob.me@gmail.com>
 * @copyright 2016 Jakob Metzger
 * @licence https://opensource.org/licenses/MIT MIT
 * @link http://jmportfolio.de
 */

// Modul-Variablen
@_list:                     list;
@_list-size-height:         44px;

// Animation: Highlight
@keyframes list-highlight {
    0% {
        background: @app-color-star;
        .shadow(0, 0, @app-size-line-medium, @app-size-line-thin, @app-color-star);
    }
    100% {
        background: fade(@app-color-star, @app-fade-highlight);
        .shadow-none();
    }
}

// Block: Liste
.@{_list} {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    .border(bottom, @app-color-background);
    
    // Element: Item
    &__item {
        display: block;
        cursor: pointer;
        overflow: hidden;
        text-align: left;
        font-style: normal;
        position: relative;
        text-decoration: none;
        margin: 0;
        background: @app-color-white;
        padding: 0 @app-size-margin;
        padding-right: @_list-size-height;
        height: @_list-size-height;
        line-height: @_list-size-height;
        .border(top, @app-color-background);
        .gradient-background();
        .ellipsis();
        
        // Aktiv
        &:active:after { color: @app-color-text-dark; }
        
        // Icon
        &:after {
            display: block;
            position: absolute;
            text-align: right;
            font-style: normal;
            font-weight: normal;
            box-sizing: border-box;
            top: 0;
            right: 0;
            content: @fontello-icon-forward;
            padding-right: @app-size-margin;
            font-size: @app-font-size-medium;
            color: @app-color-text-pale;
            width: @_list-size-height;
            height: @_list-size-height;
            line-height: (@_list-size-height + @app-size-line-thin);
            .transition(color);
            .font-icon();
        }
        
        // Sub-Element: Label
        &-label {
            font-weight: bold;
            color: @app-color-text-dark;
            font-size: @app-font-size-medium;
            
            // Ausnahme: Erstes Element
            &:not(:first-child) { margin-left: @app-size-margin-half; }
        }
        
        // Sub-Element: Highlight
        &-highlight {
            color: darken(@app-color-star, @app-darken-star);
            background: fade(@app-color-star, @app-fade-highlight);
            .animation(list-highlight);
            .round-all();
            
            // Leer
            &:empty { display: none; }
        }
    }
    
    // Element: Titel
    &__title {
        display: block;
        font-weight: bold;
        position: relative;
        padding: @app-size-margin;
        font-size: @app-font-size-small;
        background: @app-color-white;
        margin-bottom: @app-size-margin-half;
        .border(bottom, @app-color-background);
        .border(top, @app-color-background);
        
        // Ausnahme: Letztes Element
        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }
        
        // Sub-Element: Titel-Text
        &-text {
            display: block;
            color: @app-color-text-pale;
        }
    }
}