/*
 * Modul: Navigation-Bar.
 * Definiert die Navigation-Bar der App.
 * @author Jakob Metzger <jakob.me@gmail.com>
 * @copyright 2016 Jakob Metzger
 * @licence https://opensource.org/licenses/MIT MIT
 * @link http://jmportfolio.de
 */

// Modul-Variablen
@_navigation-bar:                   navigation-bar;
@_navigation-bar-fontsize-title:    17px;
@_navigation-bar-fontsize-icon:     22px;
 
// Block: Navigation-Bar
.@{_navigation-bar} {
    position: absolute;
    overflow: hidden;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    background: @app-color-main;
    color: @app-color-text-light;
    height: @app-size-height-navigationbar;
    .shadow-line(@app-size-line-thin, darken(@app-color-main, @app-darken-border));
    .textshadow();
    
    // Mod: Webapp
    &--webapp { padding-top: @app-size-height-statusbar; }
    
    // Mod: Suche & Suchfeld
    &--search &__search {
        opacity: @app-opacity-full;
        .translate();
    }
    
    // Mod: Suche & Titel
    &--search &__title {
        opacity: @app-opacity-invisible;
        .translate(0, 100%);
    }
    
    // Element: Wrapper
    &__wrapper { position: relative; }
    
    // Element: Titel
    &__title {
        font-weight: bold;
        display: inline-block;
        text-transform: uppercase;
        margin: 0;
        width: 100%;
        padding: 0 @app-size-height-navigationbar;
        height: @app-size-height-navigationbar;
        line-height: @app-size-height-navigationbar;
        font-size: @_navigation-bar-fontsize-title;
        .transition();
        .borderbox();
        .ellipsis();
        
        // Mod: Versteckt
        &--hidden { opacity: @app-opacity-invisible; }
    }
    
    // Element: Button
    &__button {
        display: block;
        cursor: pointer;
        position: absolute;
        text-align: center;
        font-style: normal;
        text-decoration: none;
        top: 0;
        margin: 0;
        padding: 0;
        font-size: @_navigation-bar-fontsize-icon;
        height: @app-size-height-navigationbar;
        line-height: @app-size-height-navigationbar;
        width: @app-size-height-navigationbar;
        .transition(all, @app-time-animation-half);
        
        // Mod: Links/Deaktiviert
        &--left { left: 0; }
        &--left&--disabled { .translate(-100%); }
        
        // Mod: Rechts/Deaktiviert
        &--right { right: 0; }
        &--right&--disabled { .translate(100%); }
        
        // Mod: Deaktiviert
        &--disabled { opacity: @app-opacity-invisible; }
        
        // Mod: Icons
        &--icon-cancel { .fontello-icon(@fontello-icon-cancel); }
        &--icon-skip { .fontello-icon(@fontello-icon-skip); }
        &--icon-back { .fontello-icon(@fontello-icon-back); }
        &--icon-search { .fontello-icon(@fontello-icon-search); }
        &--icon-sort { .fontello-icon(@fontello-icon-sort); }
    }
    
    // Element: Suche
    &__search {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: @app-size-margin-half @app-size-height-navigationbar;
        opacity: @app-opacity-invisible;
        .translate(0, 100%);
        .transition();
        .borderbox();
    }
    
    // Element: Input
    &__input {
        -webkit-appearance: none;
        border: none;
        outline: none;
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
        color: @app-color-text-light;
        font-size: @app-font-size-small;
        background: darken(@app-color-main, @app-darken-main);
        padding: @app-size-padding @app-size-padding-double;
        height: (@app-size-height-navigationbar - @app-size-margin);
        .textshadow();
        .font-main();
        .borderbox();
        .round-all();
        .gradient-vertical(
            darken(@app-color-main, @app-darken-main-dark),
            darken(@app-color-main, @app-darken-main)
        );
    }
}

// Responsive
@media screen and (min-width: @app-size-responsive) {
    
    // Block: Navigation-Bar
    .@{_navigation-bar} {
        background-image: url("@{app-path-layout}/statusbar.png?v=@{app-version}");
        background-repeat: no-repeat;
        background-position: top center;
        padding-top: @app-size-height-statusbar;
        background-size: @app-size-width-iphone @app-size-height-statusbar;
    }
}

// Responsive Retina
@media screen and (min-width: @app-size-responsive)
              and (-webkit-min-device-pixel-ratio: 1.5),
       screen and (min-width: @app-size-responsive)
              and (min-resolution: 144dpi) {
    
    // Block: Navigation-Bar
    .@{_navigation-bar} { background-image: url("@{app-path-layout}/statusbar-retina.png?v=@{app-version}"); }
}