<!--Wörterbuch-Slider-->
<div id="dictionary-slider" class="slide-0">
    
    <!--Leer-->
    <div class="dictionary-slide slide-empty"></div>
    
    <!--Übersicht-->
    <div class="dictionary-slide slide-0 scroll">
        
        <!--Wörter-->
        <div class="dictionary-words">
            <a href="#pinneken" class="quiz-title standalone dictionary-word">
                <span class="word-level level-1">
                    <i class="level level-1"></i>
                    <i class="level level-2"></i>
                    <i class="level level-3"></i>
                </span>
                <span class="word">Pinneken</span>
            </a>
            <a href="#pinneken" class="quiz-title standalone dictionary-word">
                <span class="word-level level-1">
                    <i class="level level-1"></i>
                    <i class="level level-2"></i>
                    <i class="level level-3"></i>
                </span>
                <span class="word">Pinneken</span>
            </a>
            <a href="#pinneken" class="quiz-title standalone dictionary-word">
                <span class="word-level level-1">
                    <i class="level level-1"></i>
                    <i class="level level-2"></i>
                    <i class="level level-3"></i>
                </span>
                <span class="word">Pinneken</span>
            </a>
            <a href="#pinneken" class="quiz-title standalone dictionary-word">
                <span class="word-level level-1">
                    <i class="level level-1"></i>
                    <i class="level level-2"></i>
                    <i class="level level-3"></i>
                </span>
                <span class="word">Pinneken</span>
            </a>
            <a href="#pinneken" class="quiz-title standalone dictionary-word">
                <span class="word-level level-1">
                    <i class="level level-1"></i>
                    <i class="level level-2"></i>
                    <i class="level level-3"></i>
                </span>
                <span class="word">Pinneken</span>
            </a>
            <a href="#pinneken" class="quiz-title standalone dictionary-word">
                <span class="word-level level-1">
                    <i class="level level-1"></i>
                    <i class="level level-2"></i>
                    <i class="level level-3"></i>
                </span>
                <span class="word">Pinneken</span>
            </a>
            <a href="#pinneken" class="quiz-title standalone dictionary-word">
                <span class="word-level level-1">
                    <i class="level level-1"></i>
                    <i class="level level-2"></i>
                    <i class="level level-3"></i>
                </span>
                <span class="word">Pinneken</span>
            </a>
            <a href="#pinneken" class="quiz-title standalone dictionary-word">
                <span class="word-level level-1">
                    <i class="level level-1"></i>
                    <i class="level level-2"></i>
                    <i class="level level-3"></i>
                </span>
                <span class="word">Pinneken</span>
            </a>
            <a href="#pinneken" class="quiz-title standalone dictionary-word">
                <span class="word-level level-1">
                    <i class="level level-1"></i>
                    <i class="level level-2"></i>
                    <i class="level level-3"></i>
                </span>
                <span class="word">Pinneken</span>
            </a>
            
            <!--Hinweis-->
            <div class="content-padding center">
                <p class="info small">
                    <i class="fa fa-info-circle"></i> <b>Hinweis:</b><br/>
                    Dein persönliches Wörterbuch füllt sich automatisch
                    mit allen Wörtern, die Du schon erraten hast.
                </p>
            </div>
        </div>
        
    </div>
    
    <!--Details-->
    <div class="dictionary-slide slide-1">
        <div id="content-dictionary"></div>
    </div>
    
</div>