<!--Titel-->
<h2 class="quiz-title standalone">
    Mein letzten <b>Spiele</b>
</h2>
<div class="statistic-last">
    <div class="statistic-step"></div>
    <div class="statistic-step"></div>
    <div class="statistic-step"></div>
    <div class="statistic-step"></div>
    <div class="statistic-step"></div>
    <div class="statistic-step"></div>
    <div class="statistic-step"></div>
    <div class="statistic-step"></div>
    <div class="statistic-step"></div>
    <div class="statistic-step"></div>
    <div class="statistic-bars">
        <div class="statistic-bar bar-1"><div class="bar"></div></div>
        <div class="statistic-bar bar-2"><div class="bar"></div></div>
        <div class="statistic-bar bar-0"><div class="bar"></div></div>
        <div class="statistic-bar bar-3"><div class="bar"></div></div>
        <div class="statistic-bar bar-5"><div class="bar"></div></div>
        <div class="statistic-bar bar-4"><div class="bar"></div></div>
        <div class="statistic-bar bar-8"><div class="bar"></div></div>
        <div class="statistic-bar bar-7"><div class="bar"></div></div>
        <div class="statistic-bar bar-10"><div class="bar"></div></div>
        <div class="statistic-bar bar-9"><div class="bar"></div></div>
    </div>
</div>