<!--Fortschritt-->
<div id="quiz-progress" class="waiting">
	<div id="quiz-progress-inner">
	    <div id="quiz-progress-bar"></div>
	    <ul id="quiz-progress-steps">
    	    <li class="quiz-progress-step" data-step="1"></li>
    	    <li class="quiz-progress-step" data-step="2"></li>
    	    <li class="quiz-progress-step" data-step="3"></li>
    	    <li class="quiz-progress-step" data-step="4"></li>
    	    <li class="quiz-progress-step" data-step="5"></li>
    	    <li class="quiz-progress-step" data-step="6"></li>
    	    <li class="quiz-progress-step" data-step="7"></li>
    	    <li class="quiz-progress-step" data-step="8"></li>
    	    <li class="quiz-progress-step" data-step="9"></li>
    	    <li class="quiz-progress-step" data-step="10"></li>
	    </ul>
	</div>
</div>

<!--Quiz-Karten-->
<div id="quiz-slider" class="slide-0">
    
    <!--Start-->
    <div class="quiz-slide slide-0">
    	<a class="button round centered action" id="quiz-start">
        	<b>Quiz</b><br/><i>starten</i>
    	</a>
    </div>
    
    <!--Frage-1-->
    <div class="quiz-slide slide-1">
        <h2 class="quiz-title">
            Was ist ein <b>Pinniken</b>?
        </h2>
        <div class="quiz-info">
            <div class="quiz-info-difficulty">
                Leicht
            </div>
            <div class="quiz-info-level">
                <i class="level level-1"></i>
                <i class="level level-2"></i>
                <i class="level level-3"></i>
            </div>
        </div>
        <div class="content-padding">
            <div class="quiz-choices">
                <a class="button choice wrong">Pömpel</a>
                <a class="button choice right">Schnapsglas</a>
                <a class="button choice wrong">Blume</a>
                <a class="button choice wrong">Pinienkern</a>
            </div>
        </div>
        <div class="content-padding bottom">
            <a class="button success quiz-next hidden">
                Weiter
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
    
    <!--Frage-2-->
    <div class="quiz-slide slide-2">
        <h2 class="quiz-title">
            Was ist ein <b>Pinniken</b>?
        </h2>
        <div class="quiz-info">
            <div class="quiz-info-difficulty">
                Leicht
            </div>
            <div class="quiz-info-level">
                <i class="level level-1"></i>
                <i class="level level-2"></i>
                <i class="level level-3"></i>
            </div>
        </div>
        <div class="content-padding">
            <div class="quiz-choices">
                <a class="button choice wrong">Pömpel</a>
                <a class="button choice right">Schnapsglas</a>
                <a class="button choice wrong">Blume</a>
                <a class="button choice wrong">Pinienkern</a>
            </div>
        </div>
        <div class="content-padding bottom">
            <a class="button success quiz-next hidden">
                Weiter
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
    
    <!--Frage-3-->
    <div class="quiz-slide slide-3">
    </div>
    
    <!--Frage-4-->
    <div class="quiz-slide slide-4">
    </div>
    
    <!--Frage-5-->
    <div class="quiz-slide slide-5">
    </div>
    
    <!--Frage-6-->
    <div class="quiz-slide slide-6">
    </div>
    
    <!--Frage-7-->
    <div class="quiz-slide slide-7">
    </div>
    
    <!--Frage-8-->
    <div class="quiz-slide slide-8">
    </div>
    
    <!--Frage-9-->
    <div class="quiz-slide slide-9">
    </div>
    
    <!--Frage-10-->
    <div class="quiz-slide slide-10">
    </div>
    
    <!--Ende-->
    <div class="quiz-slide slide-11">
        <div class="content-padding">
        	Fertig!
        </div>
    </div>
    
</div>