<!--Fortschritt-->
<div id="quiz-progress">
	<div id="quiz-progress-inner">
	    <div id="quiz-progress-bar"></div>
	    <ul id="quiz-progress-steps">
    	    <li class="quiz-progress-step current" data-step="1"></li>
    	    <li class="quiz-progress-step" data-step="2"></li>
    	    <li class="quiz-progress-step" data-step="3"></li>
    	    <li class="quiz-progress-step" data-step="4"></li>
    	    <li class="quiz-progress-step" data-step="5"></li>
    	    <li class="quiz-progress-step" data-step="6"></li>
    	    <li class="quiz-progress-step" data-step="7"></li>
    	    <li class="quiz-progress-step" data-step="8"></li>
    	    <li class="quiz-progress-step" data-step="9"></li>
    	    <li class="quiz-progress-step" data-step="10"></li>
	    </ul>
	</div>
</div>

<!--Buttons-->
<div class="content-padding">
	<a class="button success">
    	<i class="fa fa-check"></i>
    	Richtig
    </a>
    <a class="button error">
    	<i class="fa fa-close"></i>
    	Falsch
    </a>
</div>