<!--Fortschritt-->
<div id="quiz-progress" class="waiting">
	<div id="quiz-progress-inner">
	    <div id="quiz-progress-bar"></div>
	    <ul id="quiz-progress-steps">
    	    <li class="quiz-progress-step" data-step="1"></li>
    	    <li class="quiz-progress-step" data-step="2"></li>
    	    <li class="quiz-progress-step" data-step="3"></li>
    	    <li class="quiz-progress-step" data-step="4"></li>
    	    <li class="quiz-progress-step" data-step="5"></li>
    	    <li class="quiz-progress-step" data-step="6"></li>
    	    <li class="quiz-progress-step" data-step="7"></li>
    	    <li class="quiz-progress-step" data-step="8"></li>
    	    <li class="quiz-progress-step" data-step="9"></li>
    	    <li class="quiz-progress-step" data-step="10"></li>
	    </ul>
	</div>
</div>

<!--Quiz-Karten-->
<div id="quiz-slider" class="slide-0">
    
    <!--Start-->
    <div class="quiz-slide slide-0">
    	<a class="button round centered action" id="quiz-start">
        	<b>Quiz</b><br/><i>starten</i>
    	</a>
    </div>
    
    <!--Frage-1-->
    <div class="quiz-slide slide-1">
        <h2 class="quiz-title">
            Was ist ein <b>Pinniken</b>?
        </h2>
        <div class="quiz-info">
            <span class="quiz-info-difficulty">
                Leicht
            </span>
            <span class="quiz-info-level level-1" data-level="1">
                <i class="level level-1"></i>
                <i class="level level-2"></i>
                <i class="level level-3"></i>
            </span>
            <span class="quiz-info-audio-play">
                <i class="fa fa-volume-up"></i>
            </span>
            <audio class="quiz-info-audio">
                <source src="audio/audio.mp3" type="audio/mpeg">
            </audio>
        </div>
        <div class="content-padding">
            <div class="quiz-choices">
                <a class="button choice wrong">Pömpel</a>
                <a class="button choice right">Schnapsglas</a>
                <a class="button choice wrong">Blume</a>
                <a class="button choice wrong">Pinienkern</a>
            </div>
        </div>
        <div class="content-padding bottom">
            <a class="button action quiz-next hidden">
                <b>Weiter</b>
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
    
    <!--Frage-2-->
    <div class="quiz-slide slide-2">
        <h2 class="quiz-title">
            Was ist ein <b>Pinniken</b>?
        </h2>
        <div class="quiz-info">
            <span class="quiz-info-difficulty">
                Leicht
            </span>
            <span class="quiz-info-level level-1" data-level="1">
                <i class="level level-1"></i>
                <i class="level level-2"></i>
                <i class="level level-3"></i>
            </span>
            <span class="quiz-info-audio-play">
                <i class="fa fa-volume-up"></i>
            </span>
            <audio class="quiz-info-audio">
                <source src="audio/audio.mp3" type="audio/mpeg">
            </audio>
        </div>
        <div class="content-padding">
            <div class="quiz-choices">
                <a class="button choice wrong">Pömpel</a>
                <a class="button choice right">Schnapsglas</a>
                <a class="button choice wrong">Blume</a>
                <a class="button choice wrong">Pinienkern</a>
            </div>
        </div>
        <div class="content-padding bottom">
            <a class="button action quiz-next hidden">
                <b>Weiter</b>
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
    
    <!--Frage-3-->
    <div class="quiz-slide slide-3">
        <h2 class="quiz-title">
            Was ist ein <b>Pinniken</b>?
        </h2>
        <div class="quiz-info">
            <span class="quiz-info-difficulty">
                Leicht
            </span>
            <span class="quiz-info-level level-1" data-level="1">
                <i class="level level-1"></i>
                <i class="level level-2"></i>
                <i class="level level-3"></i>
            </span>
            <span class="quiz-info-audio-play">
                <i class="fa fa-volume-up"></i>
            </span>
            <audio class="quiz-info-audio">
                <source src="audio/audio.mp3" type="audio/mpeg">
            </audio>
        </div>
        <div class="content-padding">
            <div class="quiz-choices">
                <a class="button choice wrong">Pömpel</a>
                <a class="button choice right">Schnapsglas</a>
                <a class="button choice wrong">Blume</a>
                <a class="button choice wrong">Pinienkern</a>
            </div>
        </div>
        <div class="content-padding bottom">
            <a class="button action quiz-next hidden">
                <b>Weiter</b>
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
    
    <!--Frage-4-->
    <div class="quiz-slide slide-4">
        <h2 class="quiz-title">
            Was ist ein <b>Pinniken</b>?
        </h2>
        <div class="quiz-info">
            <span class="quiz-info-difficulty">
                Leicht
            </span>
            <span class="quiz-info-level level-1" data-level="1">
                <i class="level level-1"></i>
                <i class="level level-2"></i>
                <i class="level level-3"></i>
            </span>
            <span class="quiz-info-audio-play">
                <i class="fa fa-volume-up"></i>
            </span>
            <audio class="quiz-info-audio">
                <source src="audio/audio.mp3" type="audio/mpeg">
            </audio>
        </div>
        <div class="content-padding">
            <div class="quiz-choices">
                <a class="button choice wrong">Pömpel</a>
                <a class="button choice right">Schnapsglas</a>
                <a class="button choice wrong">Blume</a>
                <a class="button choice wrong">Pinienkern</a>
            </div>
        </div>
        <div class="content-padding bottom">
            <a class="button action quiz-next hidden">
                <b>Weiter</b>
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
    
    <!--Frage-5-->
    <div class="quiz-slide slide-5">
        <h2 class="quiz-title">
            Was ist ein <b>Pinniken</b>?
        </h2>
        <div class="quiz-info">
            <span class="quiz-info-difficulty">
                Leicht
            </span>
            <span class="quiz-info-level level-1" data-level="1">
                <i class="level level-1"></i>
                <i class="level level-2"></i>
                <i class="level level-3"></i>
            </span>
            <span class="quiz-info-audio-play">
                <i class="fa fa-volume-up"></i>
            </span>
            <audio class="quiz-info-audio">
                <source src="audio/audio.mp3" type="audio/mpeg">
            </audio>
        </div>
        <div class="content-padding">
            <div class="quiz-choices">
                <a class="button choice wrong">Pömpel</a>
                <a class="button choice right">Schnapsglas</a>
                <a class="button choice wrong">Blume</a>
                <a class="button choice wrong">Pinienkern</a>
            </div>
        </div>
        <div class="content-padding bottom">
            <a class="button action quiz-next hidden">
                <b>Weiter</b>
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
    
    <!--Frage-6-->
    <div class="quiz-slide slide-6">
        <h2 class="quiz-title">
            Was ist ein <b>Pinniken</b>?
        </h2>
        <div class="quiz-info">
            <span class="quiz-info-difficulty">
                Leicht
            </span>
            <span class="quiz-info-level level-1" data-level="1">
                <i class="level level-1"></i>
                <i class="level level-2"></i>
                <i class="level level-3"></i>
            </span>
            <span class="quiz-info-audio-play">
                <i class="fa fa-volume-up"></i>
            </span>
            <audio class="quiz-info-audio">
                <source src="audio/audio.mp3" type="audio/mpeg">
            </audio>
        </div>
        <div class="content-padding">
            <div class="quiz-choices">
                <a class="button choice wrong">Pömpel</a>
                <a class="button choice right">Schnapsglas</a>
                <a class="button choice wrong">Blume</a>
                <a class="button choice wrong">Pinienkern</a>
            </div>
        </div>
        <div class="content-padding bottom">
            <a class="button action quiz-next hidden">
                <b>Weiter</b>
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
    
    <!--Frage-7-->
    <div class="quiz-slide slide-7">
        <h2 class="quiz-title">
            Was ist ein <b>Pinniken</b>?
        </h2>
        <div class="quiz-info">
            <span class="quiz-info-difficulty">
                Leicht
            </span>
            <span class="quiz-info-level level-1" data-level="1">
                <i class="level level-1"></i>
                <i class="level level-2"></i>
                <i class="level level-3"></i>
            </span>
            <span class="quiz-info-audio-play">
                <i class="fa fa-volume-up"></i>
            </span>
            <audio class="quiz-info-audio">
                <source src="audio/audio.mp3" type="audio/mpeg">
            </audio>
        </div>
        <div class="content-padding">
            <div class="quiz-choices">
                <a class="button choice wrong">Pömpel</a>
                <a class="button choice right">Schnapsglas</a>
                <a class="button choice wrong">Blume</a>
                <a class="button choice wrong">Pinienkern</a>
            </div>
        </div>
        <div class="content-padding bottom">
            <a class="button action quiz-next hidden">
                <b>Weiter</b>
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
    
    <!--Frage-8-->
    <div class="quiz-slide slide-8">
        <h2 class="quiz-title">
            Was ist ein <b>Pinniken</b>?
        </h2>
        <div class="quiz-info">
            <span class="quiz-info-difficulty">
                Leicht
            </span>
            <span class="quiz-info-level level-1" data-level="1">
                <i class="level level-1"></i>
                <i class="level level-2"></i>
                <i class="level level-3"></i>
            </span>
            <span class="quiz-info-audio-play">
                <i class="fa fa-volume-up"></i>
            </span>
            <audio class="quiz-info-audio">
                <source src="audio/audio.mp3" type="audio/mpeg">
            </audio>
        </div>
        <div class="content-padding">
            <div class="quiz-choices">
                <a class="button choice wrong">Pömpel</a>
                <a class="button choice right">Schnapsglas</a>
                <a class="button choice wrong">Blume</a>
                <a class="button choice wrong">Pinienkern</a>
            </div>
        </div>
        <div class="content-padding bottom">
            <a class="button action quiz-next hidden">
                <b>Weiter</b>
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
    
    <!--Frage-9-->
    <div class="quiz-slide slide-9">
        <h2 class="quiz-title">
            Was ist ein <b>Pinniken</b>?
        </h2>
        <div class="quiz-info">
            <span class="quiz-info-difficulty">
                Leicht
            </span>
            <span class="quiz-info-level level-1" data-level="1">
                <i class="level level-1"></i>
                <i class="level level-2"></i>
                <i class="level level-3"></i>
            </span>
            <span class="quiz-info-audio-play">
                <i class="fa fa-volume-up"></i>
            </span>
            <audio class="quiz-info-audio">
                <source src="audio/audio.mp3" type="audio/mpeg">
            </audio>
        </div>
        <div class="content-padding">
            <div class="quiz-choices">
                <a class="button choice wrong">Pömpel</a>
                <a class="button choice right">Schnapsglas</a>
                <a class="button choice wrong">Blume</a>
                <a class="button choice wrong">Pinienkern</a>
            </div>
        </div>
        <div class="content-padding bottom">
            <a class="button action quiz-next hidden">
                <b>Weiter</b>
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
    
    <!--Frage-10-->
    <div class="quiz-slide slide-10">
        <h2 class="quiz-title">
            Was ist ein <b>Pinniken</b>?
        </h2>
        <div class="quiz-info">
            <span class="quiz-info-difficulty">
                Leicht
            </span>
            <span class="quiz-info-level level-1" data-level="1">
                <i class="level level-1"></i>
                <i class="level level-2"></i>
                <i class="level level-3"></i>
            </span>
            <span class="quiz-info-audio-play">
                <i class="fa fa-volume-up"></i>
            </span>
            <audio class="quiz-info-audio">
                <source src="audio/audio.mp3" type="audio/mpeg">
            </audio>
        </div>
        <div class="content-padding">
            <div class="quiz-choices">
                <a class="button choice wrong">Pömpel</a>
                <a class="button choice right">Schnapsglas</a>
                <a class="button choice wrong">Blume</a>
                <a class="button choice wrong">Pinienkern</a>
            </div>
        </div>
        <div class="content-padding bottom">
            <a class="button action quiz-next hidden">
                <b>Weiter</b>
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
    
    <!--Ende-->
    <div class="quiz-slide slide-11">
        <h2 class="quiz-title finished">
            <b>Fertig!</b>
        </h2>
    	<div id="quiz-result">
        	<div id="quiz-result-inner">
            	<div id="result-lines">
                	<div class="result-line line-1"></div>
                	<div class="result-line line-2"></div>
                	<div class="result-line line-3"></div>
                	<div class="result-line line-4"></div>
                	<div class="result-line line-5"></div>
                	<div class="result-line line-6"></div>
                	<div class="result-line line-7"></div>
                	<div class="result-line line-8"></div>
                	<div class="result-line line-9"></div>
            	</div>
            	<div id="result-bar" class="hidden"></div>
        	</div>
    	</div>
    	<div class="content-padding center">
        	<p class="title">
            	Du hast <b><span id="result-right">5</span> von
            	<span id="result-total">10</span></b>
            	Fragen richtig beantwortet!<br/>
        	</p>
        	<p class="info">
        	    Willst Du noch einmal spielen?
        	</p>
    	</div>
    	<a class="button round centered inline action" id="quiz-restart">
        	<b>Quiz</b><br/><i>starten</i>
    	</a>
    </div>
    
</div>